<template>
  <div id="app">
    <h1>{{ msg }}</h1>
  </div>
</template>

<script>
export default {
  name: "app",
  data() {
    return {
      msg: "Your Vue.js app is now live!"
    };
  }
};
</script>

<style lang="css">
body {
  background-color: bisque;
}
#app {
  color: purple;
}
</style>