<!doctype html>
<html>

<head>
    <title>Vue without Webpack</title>

    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- production version, optimized for size and speed -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/vuex/2.1.1/vuex.min.js"></script> -->
    <script src="https://unpkg.com/http-vue-loader"></script>
</head>

<body>
    <div id="app">
        <h1>App 2</h1>

        {{ message }}

        <p>Importing a component:</p>
        <ol>
            <!-- Create an instance of the todo-item component -->
            <todo-item v-for="item in groceryList" v-bind:todo="item" v-bind:key="item.id">
            </todo-item>
        </ol>

        <p>And we can even use a single-file components!</p>
        <my-component></my-component>
    </div>

    <div id="app-2">
        <h1>App 2</h1>
        <span v-bind:title="message">
            Hover your mouse over me for a few seconds
            to see my dynamically bound title!
        </span>
    </div>

    <script src="main.js" type="module"></script>
</body>

</html>